.start-third {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  padding-top: 23px;
  padding-left: 45px;
  padding-right: 40px;
  padding-bottom: 149px;
  display: none;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}

.start-third__title {
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fcc150;
}

.start-third__btn {
  margin: 0;
  margin-bottom: 10px;
  padding: 17px 0;
  padding-bottom: 13px;
  padding-left: 74px;
  padding-right: 61px;
  font-size: 15px;
  font-weight: 600;
  color: #3b3b3b;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  cursor: pointer;

  &:focus {
    color: #ffffff;
    background-color: #fcc150;
  }
}

.start-third__btn-second {
  margin-bottom: 10px;
  padding: 17px 61px;
  padding-bottom: 16px;
  padding-left: 74px;
}

.start-third__btn-third {
  margin-top: 69px;
  margin-left: 22px;
  padding: 13px 0;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 21px;
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fcc150;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 15px;
}

.start-third__btn--active {
  color: #ffffff;
  background-color: #fcc150;
}

.start-third__btn--active .start-third__man {
  fill: #ffffff;
}

.start-third__btn--active .start-third__woman {
  fill: #ffffff;
}

.start-third__man {
  position: absolute;
  top: 110px;
  left: 80px;
  width: 25px;
  height: 25px;
  fill: #3b3b3b;

  &:focus {
    fill: #ffffff;
  }
}

.start-third__woman {
  position: absolute;
  top: 170px;
  left: 80px;
  width: 25px;
  height: 25px;
  fill: #3b3b3b;
}

.start-third__btn:focus .start-third__man {
  fill: #ffffff;
}

.start-third__btn:focus .start-third__woman {
  fill: #ffffff;
}
